.fav-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fav-page > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fav-page h2 {
	padding: 20px;
	transition: font-size 0.3s ease;
}
.fav-page h2:hover {
	font-size: 3rem;
}